{% extends "Base_generic.html" %}

{% block content %}
<h1>Presentamos estos directores</h1>


<table class="table table-striped table-hover" , border="1">

  <thead>
  <tr>
    <th width="35%">Nombre</th>
    <th>Fecha de nacimiento</th>
    <th>peliculas</th>
  </tr>
  </thead>
  <tbody>

  {% for nombre in nom_director %}
  <tr>
    <td>{{ nombre }}</td>
    <td>{{ nombre.date_of_birth }}</td>
    <td><a href="{% url 'movies_detail' nombre.id %}">ver peliculas</a></td>
  </tr>
  {% endfor %}
  </tbody>
</table>


{%endblock%}